.payment-container {
  padding: 40px;
  text-align: center;
}

.payment-options {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.pay-btn {
  padding: 12px 20px;
  background: green;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.pay-btn:hover {
  background: darkgreen;
}
